*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

 nav{
   display:  flex;
   justify-content: space-around;
   align-items: center;
   min-height: 8vh;
  background-color: #343434;
 }
li{
  list-style: none;
}
.PS2logo{
  color: #006FCD;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 22px
}

.Links{
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.Links a{
  color:#006FCD;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;

}
.NAVBUTTON{
  display: none;
}

.NAVBUTTON div{
  width: 24px;
  height: 3px;
  background-color: #006FCD;
  margin: 5px;
}

@media screen and (max-width: 760px){
  body{
    overflow-x: hidden;
  }
  .Links{
    position: absolute;
    right: 0px;
    height: 42vh;
    top: 8vh;
    background-color: #343434;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .Links li{
    opacity: 0;
  }
  .NAVBUTTON{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}
