body {
  margin: 0;
  padding: 0;
  background-color:#fff;
 /* white background to make everything stand out  */
  }

footer {
  margin-top: 20px;
}
  /* the footer was too close to the content  */

#ps2Logo {
  max-height: 75px;
  }

#paragraphs{
  font-family: sans-serif;
  font-size: 14px;
  padding:0px 10px 0px 10px;
}
/* this font looked the most professional out of all therefore it was chosen */



#button {
  padding: 10px;
  max-height: 75px;
  float: right;
  display: block;
  }
  /* this is the menu button on top right*/

h4{
  font-family: sans-serif;
  color: black;
  text-align: center;
  font-size: 100%;
}

nav {

    height: 100vh;
    position: fixed;
    background-color: black;
    z-index: 10;
    left: -100%;
    width: 35vw;
    transition: left 0.2s;
    top: 0;
}
/* menu was made to stay in one possiton when scrolling trough */
.cover{
    height: 120vh;
    z-index: 8;
    left: -100%;
    width: 120vw;
    opacity: 0;
    transition: left 0.2s;
    position: fixed;
    top: 0;
  }
/* this is where the menu tab is, make sit hidden until clicked   */
section {
  background-color: black;
}

h2 {
  font-family: sans-serif;

  color: black;
  text-align: center;
  margin-bottom: 5px;
  font-size: 185%;
}

video{
  max-width: 100%;
  padding: 5px;
}
/* made to fit the whole screen so the viewer can see clearly on their device */

.moreinfo{
   text-align: center;
   padding: 20px 0px 20px 0px;
   font-family: 'Bebas Neue', cursive;
   font-size: 22px;
   color: white;
   background-color: black;
}
/* this font is very bold thereforte it was used to stand out in the footer */



#WIKIPEDIA{
  max-width: 20%;
  padding: 0px 10px 0px 10px;
}

#FACTSITE{
  max-width: 35%;
  padding: 0px 10px 0px 10px;
}

#GAMERANT{
  max-width: 27%;
  padding: 0px 10px 0px 10px;
}
/* The links to other websites were sized differently to make them
all look similar size */
#countdown{
     font-family: 'Bebas Neue', cursive;
  color:black;
  text-align: center;
  margin-top: 5px;
font-size: 28px;
}
/* count down timer made to sit in the middle */
.menuee {
  text-decoration: none;
  display: block;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 110%;
}
/*adjusted to fit perfectly, got rid of the underline that comes with link */
.homeslide{
  width: 100%;
  margin: auto;
  padding: 4px 12px 0px 12px;
  position: relative;
}
/* made to fit 100% but padded down so its not touching walls*/




* {
  box-sizing: border-box;
}

audio{
width: 100%;
padding: 5px;

}

.column {
  padding: 5px;
  float: left;
  width: 50%;
}
/* 50% to make sure two products can fit together*/
.group::after {
  content: "";
  display: table;
  clear: both;
}

#buy{
  background-color: #E6E6E6;
  padding: 10px 15px;
  display: block;
  color: black;
}
/* the buttons colour was chosen to match the playstations theme
 (playstation series are known for using blue)*/
a{
  text-decoration: none;
}
/* to get rid of the ugly underline */

.filterDiv {
  float: left;
  text-align: center;
  margin: 4px;
  display: none;
  color: black;
  font-family: sans-serif;
}

.show {
  display: block;
}

.stock {
  margin-top: 18px;
  overflow: hidden;

}

/* style of the buttons that filtered what items you choose to see */
.topbuttonz{
  border: none;
  outline: none;
  padding: 16px 23px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.topbuttonz.active {
  background-color: #006FCD;
  color: black;
}
/*same colour as the button in the home page */

#myBtnContain {
  text-align: center;
}

.product {
  max-width: 100%; /
}
/* made to fit within all of the collumn */
h1{
  font-size: 15px;
}

.cost{
  font-size: 1.2rem;
  margin: 8px;
}

/* the big button on the home page was made to be very visible */
.bigbutton {
  text-align: center;

  color: black;
  background-color: #006FCD;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 50px 20px 50px;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  display: block;
  border-radius: 5px;
  margin: 0 20% 20px 20%;

}
/* customised the selection filter that lets you select what you want to see */
#top3{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
   display: inline-block;
   vertical-align: middle;
   text-align: center;
    width: 100%;
     vertical-align: middle;
}

#warning{
font-size: 10px;
padding: 5px;
}
